* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
    
    background-image: linear-gradient(to right, #ea6c91, #3a55ac);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contenedor { 
    margin: 10px;
    border: 10px solid;
    border-image-source: linear-gradient(45deg, #ea6c91, #36e6e8);
    border-image-slice: 1;
}

p {
    text-align: center;
}

.imagen-flotante {
    float: left;
}

.imagen-flotante-derecha {
    float: right;
    transform: scaleX(-1);
}

.clearfix {
    clear: both;
}

.final {
    clear: both;
    font-weight: bold;
}

footer {
    background: #e5e6fa;
}