* {
    margin: 0-auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

h1 {
    color: #3787f6;
}

h2 {
    border-bottom: #3787f6 solid;
    display: inline-block;
}

.seccion {
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    margin: 50px 40px 50px 40px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.block {
    background-color: #ffccc9;
    border: #ca6e5e solid;
    border-radius: 8px;
    padding: 8px;
    display: block;
    margin: 10px 1em 10px 1em;
}

.inline {
    background-color: #8dee8e;
    border: #4aa85d solid;
    border-radius: 8px;
    padding: 8px;
    display: inline;
}

.inline-block {
    background-color: #aed9e8;
    border: #5197dc solid;
    border-radius: 8px;
    padding: 8px;
    display: inline-block;
}

.padre {
    background-color: #dfbfe7;
    border: solid #7d3489;
    border-radius: 10px;
    padding: 2em;
    margin: 10px 1em 10px 1em;
}

.inherit {
    background-color: #b968c7;
    border: solid #7d3489;
    border-radius: 10px;
    padding: 1em;
}

.none {
    display: none;
    padding: 2em;
    margin: 3em;
}

footer {
    padding: 1.5em;
    background-color: #e5e6fa;
    margin: 2em 0em;
}