* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.titulo {
    margin: 20px 10px 20px;

}

.perfil {
    border: 1px solid black;
    margin: 10px;
    
    width: 250px;
    height: 150px;
    overflow: auto;
}

.descripcion {
    width: 850px;
    text-decoration: underline;
    word-spacing: 5px;
}

.detalles {
    width: 850px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: yellow;
}

a:visited {
    color: purple;
}