* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.titulo {
    margin: 20px 10px 10px;
}

.perfil {
    border: 1px solid black;
    margin: 10px;
    width: 250px;
    height: 150px;
    overflow: auto;
}

.descripcion {
    margin: 10px 5px 20px;
    width: 880px;
    text-decoration: underline;
    word-spacing: 5px;
    text-transform: capitalize;
}

.detalles {
    width: 850px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: yellow;
}

a:visited {
    color: purple;
}